@using Resources.Views;

@{
    ViewBag.Title = @HomeTexts.txtPageTitle;
}

<div class="jumbotron">
    <h1>@HomeTexts.txtAppName</h1>
    <p class="lead">@HomeTexts.txtAppDefinition</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@HomeTexts.txtPaymentsHeading</h2>
        <p>@HomeTexts.txtPaymentsDefinition</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">
                @HomeTexts.btnPayments &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>@HomeTexts.txtStatisticsHeading</h2>
        <p>@HomeTexts.txtStatisticsDefinition</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">
                @HomeTexts.btnStatistics1 &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>@HomeTexts.txtStatistics2Heading</h2>
        <p>@HomeTexts.txtStatistics2Definition</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">
                @HomeTexts.btnStatistics2 &raquo;
            </a>
        </p>
    </div>
</div>