@using Resources.Views;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @SharedTexts.txtKulujenSeuranta</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n){t[n]=function(){var i=arguments;t.queue.push(function(){t[n].apply(t,i)})}}function f(n,t){if(n){var u=r.createElement(i);u.type="text/javascript";u.src=n;u.async=!0;u.onload=t;u.onerror=t;r.getElementsByTagName(i)[0].parentNode.appendChild(u)}else t()}var r=document,t=this,i;t.applicationInsightsId=n;u("logEvent");u("logPageView");i="script";f(t.configUrl,function(){f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js")});t.start=function(){}}};

    appInsights.start("4c0321ef-3b2d-4f84-ad93-27251a100a78");
    appInsights.logPageView();
</script></head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@SharedTexts.lnkKulujenSeurantaApp, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@SharedTexts.lnkHome, "Index", "Home")</li>
                    <li>@Html.ActionLink(@SharedTexts.lnkPayments, "Index", "Payment")</li>
                    <li>@Html.ActionLink(@SharedTexts.lnkStatistics, "Index", "Statistics")</li>
                    <!--
                        <li>@Html.ActionLink(@SharedTexts.lnkAbout, "About", "Home")</li>
                        <li>@Html.ActionLink(@SharedTexts.lnkContact, "Contact", "Home")</li>
                    -->
                </ul>

                <ul class="nav navbar-nav navbar-right" style="font-size: 12px;">
                    <li id="languageHeader">@SharedTexts.txtLanguage: </li>
                    <li>@Html.ActionLink(@SharedTexts.lnkEnglish, "ChangeCulture", "Account", new { lang = "en", returnUrl = this.Request.RawUrl }, new { @class = "languageLink" })</li>
                    <li>@Html.ActionLink(@SharedTexts.lnkFinnish, "ChangeCulture", "Account", new { lang = "fi", returnUrl = this.Request.RawUrl }, new { @class = "languageLink" })</li>
                    <li>@Html.ActionLink(@SharedTexts.lnkSwedish, "ChangeCulture", "Account", new { lang = "sv", returnUrl = this.Request.RawUrl }, new { @class = "languageLink" })</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @SharedTexts.txtKulujenSeuranta</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
