@model KulujenSeuranta.ViewModels.StatisticsViewModel
@using KulujenSeuranta.Helpers;
@using Resources.Views;

@{
    ViewBag.Title = StatisticsTexts.txtIndex;
}

<h2>@StatisticsTexts.txtIndex</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <div>
            @Html.EditorFor(model => model.SearchDate.UserInputDate, new { htmlAttributes = new { @id = "datepicker", @class = "form-control floatLeft" } })
            <input type="submit" value=@StatisticsTexts.btnSelectMonth class="btn btn-default" />
        </div>
    </div>
}
<br /><br />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryvalUnobtrusive")
@Scripts.Render("~/bundles/globalize")
@Scripts.Render("~/bundles/cultureFi")
@Scripts.Render("~/bundles/statistics")
@Scripts.Render("~/bundles/highchart")



