@model KulujenSeuranta.ViewModels.StatisticsViewModel
@using KulujenSeuranta.Helpers;
@using Resources.Views;

@{
    ViewBag.Title = @StatisticsTexts.txtMonthlyView;
}

<h2>@StatisticsTexts.txtMonthlyView</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div>
            @Html.EditorFor(model => model.SearchDate.UserInputDate, new { htmlAttributes = new { @id = "datepicker", @class = "form-control floatLeft" } })
            <input type="submit" value=@StatisticsTexts.btnSelectMonth class="btn btn-default" />
        </div>
    </div>
}

<h3>
    @StatisticsTexts.txtTotal (@Model.SearchDate.Month.@Model.SearchDate.Year) = @Model.SumOfAllPaymentsInSelectedMonth €
</h3>

<!--
@foreach (KeyValuePair<KulujenSeuranta.Models.Categories, decimal> item in Model.PaymentsByTypeInSelectedMonth)
{
    if (item.Value != 0)
    {
        <b>@EnumCustomHelper.GetCategory(item.Key): </b>@item.Value
        <br />
    }
}
-->

@(Model.ChartInSelectedMonth)

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/globalize")
@Scripts.Render("~/bundles/statistics")
@Scripts.Render("~/bundles/highchart")