@model KulujenSeuranta.Models.Payment
@using KulujenSeuranta.Helpers
@using KulujenSeuranta.Models
@using Resources.Views;

@{
    ViewBag.Title = PaymentTexts.txtTitleCreate;
}

<h2>@PaymentTexts.txtTitleCreate</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Sum, PaymentTexts.txtSum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, PaymentTexts.txtCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 selectpicker-custom-styles">
                @(Html.EnumDropDownListFor<Payment, Categories, @Resources.Models.CategoriesTexts>
                        (x => x.Category, "", new
                        {
                            @class = "form-control selectpicker",
                            @title = PaymentTexts.dropdownCategoryDefault,
                        }))
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, PaymentTexts.txtDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@PaymentTexts.btnCreate class="btn btn-default" />
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink(PaymentTexts.lnkBackToList, "Index")
</div>
    
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize")
        @Scripts.Render("~/bundles/jqueryvalGlobalize")
        @Scripts.Render("~/bundles/kulttuuri")
        @Scripts.Render("~/bundles/bootstrapSelect")
    }

}
