@model KulujenSeuranta.Models.Payment
@using KulujenSeuranta.Helpers
@using Resources.Views;

@{
    ViewBag.Title = PaymentTexts.txtTitleDetails;
}

<h2>@PaymentTexts.txtTitleDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @PaymentTexts.txtSum
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt>
            @PaymentTexts.txtCategory
        </dt>

        <dd>
            @EnumCustomHelper.GetCategory(Model.Category)
        </dd>
        <dt>
            @PaymentTexts.txtDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(PaymentTexts.lnkEdit, "Edit", new { id = Model.PaymentId }) |
    @Html.ActionLink(PaymentTexts.lnkBackToList, "Index")
</p>
