@model KulujenSeuranta.ViewModels.PaymentsViewModel
@using KulujenSeuranta.Helpers;
@using Resources.Views;

@{
    ViewBag.Title = PaymentTexts.txtTitleIndexPayment;
}

<h2>@PaymentTexts.txtHeadIndex</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div>
            @Html.EditorFor(model => model.SearchDate.UserInputDate, new { htmlAttributes = new { @id = "datepicker",  @class = "form-control floatLeft"  } })
            <input type="submit" value=@StatisticsTexts.btnSelectMonth class="btn btn-default" />
        </div>
    </div>
}

<h3>
    @PaymentTexts.txtPayments (@Model.SearchDate.Month.@Model.SearchDate.Year)
</h3>

<p>
    @Html.ActionLink(PaymentTexts.lnkCreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @PaymentTexts.txtSum
        </th>
        <th>
            @PaymentTexts.txtCategory
        </th>
        <th>
            @PaymentTexts.txtDate
        </th>
        <th></th>
    </tr>

@if (Model.PaymentsByTypeInSelectedMonth != null)
{
    foreach (var item in Model.PaymentsByTypeInSelectedMonth)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @EnumCustomHelper.GetCategory(item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(PaymentTexts.lnkEdit, "Edit", new { id = item.PaymentId }) |
                @Html.ActionLink(PaymentTexts.lnkDetails, "Details", new { id = item.PaymentId }) |
                @Html.ActionLink(PaymentTexts.lnkDelete, "Delete", new { id = item.PaymentId })
            </td>
        </tr>
    }
}

</table>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/globalize")
@Scripts.Render("~/bundles/payments")