@model IEnumerable<KulujenSeuranta.Models.Payment>
@using KulujenSeuranta.Helpers;
@using Resources.Views;

@{
    ViewBag.Title = PaymentTexts.txtTitleIndexPayment;
}

<h2>Index</h2>

<p>
    @Html.ActionLink(PaymentTexts.lnkCreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @PaymentTexts.txtSum
        </th>
        <th>
            @PaymentTexts.txtCategory
        </th>
        <th>
            @PaymentTexts.txtDate
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @EnumCustomHelper.GetCategory(item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(PaymentTexts.lnkEdit, "Edit", new { id = item.PaymentId }) |
                @Html.ActionLink(PaymentTexts.lnkDetails, "Details", new { id = item.PaymentId }) |
                @Html.ActionLink(PaymentTexts.lnkDelete, "Delete", new { id = item.PaymentId })
            </td>
        </tr>
    }
}

</table>
